---
import Chat from '../components/Chat.jsx'
import "../styles/base.scss"
import "../styles/index.scss"
import Logo from '../icons/logo.svg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Lili's LLM Chat</title>
	</head>
	<body class="home">
        <h1 id="logo-text" class="logo"><Logo/></h1>
		<Chat client:load/>
	</body>
</html>
